<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Sauce Test Suite">
    <test name="Sauce Tests">
<!--        Runner Classes-->
        <classes>
            <class name="Runner.BaseRunner"/>
            <class name="Runner.WebRunner"/>
        </classes>
    </test>
</suite>